In [16]:
from psycopg2 import connect, sql
import os
from dotenv import load_dotenv #pip install python-dotenv
from os import environ as env
import pandas as pd


load_dotenv()
host= os.getenv('host')
dbname= os.getenv('dbname')
user= os.getenv('user')
password= os.getenv('password')

if 'user' in env:
    print(env['user'])


conn_params = {
    'host': host,
    'dbname': dbname,
    'user': user,
    'password': password
}

readonly_user

## 02 Challenge

Identify the top5 members in terms of booking frequency

### LOAD

Here we define a function to execute sql queries on our database

In [17]:
import psycopg2

def fetch_data(query):
    with psycopg2.connect(**conn_params) as conn:
        with conn.cursor() as cur:
            cur.execute(query)
            data = cur.fetchall()
            colnames = [desc[0] for desc in cur.description]
    return data, colnames

- Specify the SQL query (SELECT * FROM bookings)
- Fetch the data
- Store the data in a Dataframe

In [18]:
# Extract bookings data
query = "SELECT * FROM bookings;"
bookings_data, colnames = fetch_data(query)
bookings_df = pd.DataFrame(bookings_data, columns=colnames)

bookings_df.head()

   bookid  facid  memid           starttime  slots
0       0      3      1 2012-07-03 11:00:00      2
1       1      4      1 2012-07-03 08:00:00      2
2       2      6      0 2012-07-03 18:00:00      2
3       3      7      1 2012-07-03 19:00:00      2
4       4      8      1 2012-07-03 10:00:00      1

### TRANSFORM

- Get the total number of bookings for each member id using the value_counts method
- Rename the column to total_num_bookings
- Sort the table by the total_num_bookings
- Display the top 5 rows

In [20]:
num_bookings = bookings_df.value_counts('memid').reset_index(name= 'num_bookings').sort_values(by='num_bookings', ascending=False)
num_bookings.head()

   memid  num_bookings
0      0           883
1      3           408
2      1           261
3      2           210
4      8           188