In [1]:
from psycopg2 import connect, sql
import os
from dotenv import load_dotenv #pip install python-dotenv
from os import environ as env
import pandas as pd


load_dotenv()
host= os.getenv('host')
dbname= os.getenv('dbname')
user= os.getenv('user')
password= os.getenv('password')

if 'user' in env:
    print(env['user'])


conn_params = {
    'host': host,
    'dbname': dbname,
    'user': user,
    'password': password
}

readonly_user

## 02 Exercise

Calculate the total number of booking for each facility

In [4]:
import psycopg2

def fetch_data(query):
    with psycopg2.connect(**conn_params) as conn:
        with conn.cursor() as cur:
            cur.execute(query)
            data = cur.fetchall()
            colnames = [desc[0] for desc in cur.description]
    return data, colnames

In [18]:
# Extract bookings data
query = "SELECT * FROM bookings;"
bookings_data, colnames = fetch_data(query)
bookings_df = pd.DataFrame(bookings_data, columns=colnames)

bookings_df.head()

   bookid  facid  memid           starttime  slots
0       0      3      1 2012-07-03 11:00:00      2
1       1      4      1 2012-07-03 08:00:00      2
2       2      6      0 2012-07-03 18:00:00      2
3       3      7      1 2012-07-03 19:00:00      2
4       4      8      1 2012-07-03 10:00:00      1

In [37]:
num_of_bookings = bookings_df.value_counts('facid').reset_index(name = 'num_of_bookings').sort_values(by='facid')
num_of_bookings

   facid  num_of_bookings
4      0              408
6      1              389
7      2              383
5      3              403
1      4              629
8      5              111
3      6              440
2      7              444
0      8              837

In [39]:
num_of_bookings.columns

Index(['facid', 'num_of_bookings'], dtype='object')

In [40]:
etl_bites_conn_string = "host='localhost' port='5432' dbname='etl_bites' user='joemiller' password=''"

In [41]:
def execute_query_postgresql(conn_string, query):
    with psycopg2.connect(conn_string) as conn:
        with conn.cursor() as cur:
            cur.execute(query)
            conn.commit()

# SQL query to create a new table for storing total booking duration per facility
create_total_duration_table = '''
CREATE TABLE total_number_of_bookings (
    FacilityID INTEGER NOT NULL,
    TotalNumberOfBookings INTEGER NOT NULL
);
'''

# Execute the query to create the table
execute_query_postgresql(etl_bites_conn_string, create_total_duration_table)

In [42]:
def insert_data(conn_string, table_name, data, columns):
    with psycopg2.connect(conn_string) as conn:
        with conn.cursor() as cur:
            for row in data.itertuples(index=False):
                insert_query = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(['%s'] * len(columns))});"
                cur.execute(insert_query, row)
            conn.commit()

# Insert the transformed data into the analytical database
insert_data(etl_bites_conn_string, 'total_number_of_bookings', num_of_bookings, ['FacilityID', 'TotalNumberOfBookings'])

In [43]:
%load_ext sql

In [44]:
%sql postgresql+psycopg2://joemiller:@localhost:5432/etl_bites

In [45]:
%%sql

SELECT *
FROM total_number_of_bookings;

 * postgresql+psycopg2://joemiller:***@localhost:5432/etl_bites
9 rows affected.

[(0, 408),
 (1, 389),
 (2, 383),
 (3, 403),
 (4, 629),
 (5, 111),
 (6, 440),
 (7, 444),
 (8, 837)]