In [4]:
import mysql.connector as mariadb

financial_conn_params = {
    'host': 'relational.fit.cvut.cz',
    'port': '3306',
    'user': 'guest',
    'password': 'relational',
    'database': 'financial'
}

In [5]:
def fetch_data_from_mariadb(conn_params, query):
    with mariadb.connect(**conn_params) as conn:
        with conn.cursor() as cur:
            cur.execute(query)
            data = cur.fetchall()
            colnames = [desc[0] for desc in cur.description]
    return data, colnames

financial_query_transactions = "SELECT * FROM trans;"
financial_data_transactions, transactions_colnames = fetch_data_from_mariadb(financial_conn_params, financial_query_transactions)

InterfaceError: 2003: Can't connect to MySQL server on 'relational.fit.cvut.cz:3306' (60 Operation timed out)