In [1]:
import os
import psycopg2
from dotenv import load_dotenv #pip install python-dotenv
from psycopg2 import connect, sql
from os import environ as env
from pyathena import connect
import pandas as pd

load_dotenv()
conn_string = os.getenv('conn_string')
AWS_ACCESS_KEY = os.getenv('AWS_ACCESS_KEY')
AWS_SECRET_KEY = os.getenv('AWS_SECRET_KEY')



if 'conn_string' in env:
    print(env['conn_string'][:35])

dbname='etl_bites' user='joemiller'

In [13]:
# Establish a connection to Athena
databse = 'joe-athena_parquet'
table = 'vod_clickstream'

conn = connect(aws_access_key_id= AWS_ACCESS_KEY,
               aws_secret_access_key= AWS_SECRET_KEY,
               region_name= 'eu-west-2',
               s3_staging_dir= 's3://athena-learners-etl-bite05/joe')

# Write the SQL query
sql_query = f'''
    SELECT server_request_country_code, event_url, day, COUNT(*) as num_visits
    FROM "joe-athena_parquet".{table}
    WHERE datetime >= CAST('2018-04-01' AS timestamp) AND datetime < CAST('2018-04-02' AS timestamp)
    GROUP BY server_request_country_code, event_url, day
    ORDER BY server_request_country_code
    LIMIT 5000
    ;
'''

# Execute the query and load results into a Pandas DataFrame
df = pd.read_sql(sql_query, conn)

/var/folders/60/1x07n04s69n5zj91gyj5fyrh0000gn/T/ipykernel_72667/916483746.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

In [11]:
df

,server_request_country_code,event_url,day
0,CA,https://www.netflix.com/browse,16
1,BR,https://www.netflix.com/watch/80009396?trackId...,10
2,RU,https://www.netflix.com/title/70140457,16
3,MX,https://www.netflix.com/watch/70274082?trackId...,16
4,BE,https://www.netflix.com/watch/70236413?trackId...,16